.TitleAndSliderImage{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .svgList{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(7, 160px);
    grid-template-rows: 1fr;
    height: 200px;
    .oneIcon{
      text-align: center;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-rows: 80px 80px;
      grid-template-columns: 1fr;
      font-size: 1.3rem;
      cursor: pointer;
    }
    .info{
      align-items: end;
    }

  }
  .sliderImage{
    min-height: 20vh;
    width: 100%;
    background-color: #F9FBFD;
  }

}

.sliderImages2{
  width: 1200px;
  margin: 0 auto;
  height: 600px;
  color: #fff;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #F9FBFD;
}
